<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home · Patrick Collison</title>
    <style>
        body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}
        #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
        #menu .title {
}
        #menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, sans-serif;
}
    </style>
</head>
<body>
    <div id="menu">
        <span class="title">
            Patrick Collison
        </span>
        <ul>
            <li>
                About
            </li>
            <li>
                Advice
            </li>
            <li>
                Blog
            </li>
            <li>
                Bookshelf
            </li>
        </ul>
    </div>
</body>
</html>